.social {
  display: flex;
  flex-wrap: wrap;

  &__item {
    margin: 6px 0;
    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  &__link {
    display: block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: opacity 1s,
      box-shadow 1s;

    &:hover {
      opacity: 0.7;
    }

    &:focus {
      border-radius: 3px;
      box-shadow: 0px 0px 0px 3px $green-200;
    }

    &:active {
      .social__link-icon {
        fill: $green-200;
      }
    }

  }

  &__link-icon {
    fill: $white;
    transition: fill 1s;
  }

}