/*--global------------------------------*/

body {
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  background-color: $white;
  color: $dark-500;
  min-height: 100%;
  display: flex;
  flex-direction: column;

  &.body--fixed {
    overflow-y: hidden;
  }

  &--hide {
    overflow: hidden;
  }
}

.main {
  flex-grow: 1;
}

/*--general------------------------------*/
.container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 2;
  cursor: pointer;
}

/*--sections------------------------------*/
.section {
  padding: 72px 0;
}

.title {
  font-size: 32px;
  color: $dark-900;
  letter-spacing: 3%;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}

.currency {
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.03em;

  &--small {
    font-size: 12px;
  }
}