html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select,
address {
  font: inherit;
  border: none;
}

input{
  outline: none;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  margin-left: 20px;
  width: 16px;
  height: 16px;
  background-image: url('../images/icons/clean-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

a {
  text-decoration: none;
  color: inherit;
  outline: transparent;
}

button {
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  outline: transparent;
}