$default: #505050;
$accent: #63A60E;
$bg: #31352B;

%opensans-700{
    font-family: 'OpenSans-Bold', sans-serif;
    font-weight: 700;
}

%opensans-600 {
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-weight: 600;
}

%opensans-400 {
  font-family: 'OpenSans-Regular', sans-serif;
  font-weight: 400;
}

%opensans-300 {
  font-family: 'OpenSans-Light', sans-serif;
  font-weight: 300;
}

%roboto-500 {
  font-family: 'Roboto-Medium', sans-serif;
  font-weight: 500;
}

%roboto-400 {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
}

%ruda-900 {
  font-family: 'Ruda-Black', sans-serif;
  font-weight: 900;
}

%ruda-700 {
  font-family: 'Ruda-Bold', sans-serif;
  font-weight: 700;
}

%ruda-600 {
  font-family: 'Ruda-SemiBold', sans-serif;
  font-weight: 600;
}

%ruda-400 {
  font-family: 'Ruda-Regular', sans-serif;
  font-weight: 400;
}