/*--colors------------------------------*/
$green-hover-800: #4D800C;
$green-hover-810: #4D810C;
$fav-nav-bg: #616161;
$input-color: #4F4F4F;
$fav-btn-focus: #F3DF23;
$section-bg: #F5F5F5;

$green-900: #63A60E;
$green-200: #E0EDCF;
$green-100: #EFF6E7;
$dark-900: #121212;
$dark-800: #31352B;
$dark-500: #505050;
$red-900: #CF3E3B;
$orrange-900: #FF7A00;
$yellow-900: #FFB800;
$silver-600: #C1C1C1;
$silver-100: #F6F6F6;
$white: #fff;
$black: #000;

%input-focus {
  border: 1px solid transparent;
  transition: border-color 1s,
    box-shadow 1s;
  &:focus {
    border-color: $green-900;
    box-shadow: 0px 0px 0px 3px $green-200;
  }
}


