/*--colors------------------------------*/
$green-hover-800: #4D800C;
$green-hover-810: #4D810C;
$user-nav-bg: #616161;
$input-color: #4F4F4F;

$green-900: #63A60E;
$green-200: #E0EDCF;
$green-100: #EFF6E7;
$dark-900: #121212;
$dark-800: #31352B;
$dark-500: #505050;
$red-900: #CF3E3B;
$orrange-900: #FF7A00;
$yellow-900: #FFB800;
$silver-600: #C1C1C1;
$silver-100: #F6F6F6;
$white: #fff;
$black: #000;

%input-focus {
  outline: transparent;
  border: 1px solid transparent;
  transition: border-color 1s,
  box-shadow 1s;
  &:focus {
    border-color: $green-900;
    box-shadow: 0px 0px 0px 3px $green-200;
  }
}

/*--FONTS------------------------------*/
%opensans-700 {
  font-family: 'OpenSans-Bold', sans-serif;
  font-weight: 700;
}

%opensans-600 {
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-weight: 600;
}

%opensans-400 {
  font-family: 'OpenSans-Regular', sans-serif;
  font-weight: 400;
}

%opensans-300 {
  font-family: 'OpenSans-Light', sans-serif;
  font-weight: 300;
}

%roboto-500 {
  font-family: 'Roboto-Medium', sans-serif;
  font-weight: 500;
}

%roboto-400 {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
}

%ruda-900 {
  font-family: 'Ruda-Black', sans-serif;
  font-weight: 900;
}

%ruda-700 {
  font-family: 'Ruda-Bold', sans-serif;
  font-weight: 700;
}

%ruda-600 {
  font-family: 'Ruda-SemiBold', sans-serif;
  font-weight: 600;
}

%ruda-400 {
  font-family: 'Ruda-Regular', sans-serif;
  font-weight: 400;
}