.DS_Store
.idea/
.idea/*
.vscode
*.sublime*
npm-debug/*

dist/
node_modules/
package-lock.json
app/css/*
app/scss/components/banners
app/scss/components/brands
app/scss/components/avail-checker
app/scss/components/news
app/scss/components/
