.DS_Store
.idea/
.idea/*
.vscode
*.sublime*
npm-debug/*

dist/
node_modules/
package-lock.json
app/css/*
app/scss/components/banners.scss
app/scss/components/brands.scss
app/scss/components/avail-checker.scss
app/scss/components/news.scss
