<section class="banners section">
  <div class="container">
    <h2 class="sr-only">
      Баннеры с лучшими предложениями
    </h2>
    <ul class="banners__list">

      <li class="banners__item">
        <article class="banner banner--big banner--light" style="background-image: url('images/banners/1.jpg')">
          <span class="banner__uptitle">свежайшие фрукты</span>
          <h3 class="banner__title">
            начни фруктовое лето
            всего от 19₴
          </h3>
          <a class="banner__link" href="./catalog-page.html">
            перейти к покупкам
          </a>
        </article>
      </li>
      <li class="banners__item">
        <article class="banner" style="background-image: url('images/banners/2.jpg')">
          <span class="banner__uptitle">сезонная распродажа</span>
          <h3 class="banner__title">
            овощепад
            до -50%
          </h3>
          <a class="banner__link" href="./catalog-page.html">
            перейти к покупкам
          </a>
        </article>
      </li>
      <li class="banners__item">
        <article class="banner" style="background-image: url('images/banners/3.jpg')">
          <span class="banner__uptitle">ням-ням</span>
          <h3 class="banner__title">
            свежий
            хлебчик
          </h3>
          <a class="banner__link" href="./catalog-page.html">
            перейти к покупкам
          </a>
        </article>
      </li>

    </ul>
  </div>
</section>