<header class="header" id="header">
  <nav class="header__wrapper">

    <div class="header__top">
      <div class="container header__top-container">

        <button class="header__burger" type="button">
          <span class="header__burger-line"></span>
        </button>

        <ul class="header__contacts">
          <li class="header__contacts-item">
            <a class="header__contacts-link" href="#">
              <svg class="header__contacts-icon" width="32px" height="22px">
                <use xlink:href="images/sprite.svg#icon-del"></use>
              </svg>
              <span class="header__contacts-text">
                адрес и время доставки
              </span>
            </a>
          </li>
          <li class="header__contacts-item">
            <a class="header__contacts-link" href="tel:+380501112233">
              <svg class="header__contacts-icon" width="32px" height="22px">
                <use xlink:href="images/sprite.svg#icon-tel"></use>
              </svg>
              <span class="header__contacts-text">
                горячая линия 24/7
              </span>
            </a>
          </li>
        </ul>

        <ul class="header__menu">

          <li class="header__menu-item">
            <a class="header__menu-link" href="/catalog-page.html">
              каталог
            </a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link" href="#hero">
              доставка
            </a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link" href="#hero">
              о нас
            </a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link" href="#news">
              новости
            </a>
          </li>
        </ul>

      </div>
    </div>

    <div class="header__bottom">
      <div class="container header__container">

        <a class="logo" href="/">
          <picture class="logo__picture">
            <source media="(max-width: 1200px)" srcset="images/logo--small.svg" width="36" height="40" />
            <img class="logo__img" src="images/logo.svg" alt="Логотип" width="200" height="60">
          </picture>
        </a>


        <!-- <a class="logo" href="/">
          <img class="logo__img" src="images/logo.svg" alt="Логотип" width="200" height="60">
        </a> -->

        <div class="header__catalog catalog">

          <button class="catalog__btn" type="button">
            <span class="catalog__btn-main">Каталог продуктов</span>
            <span class="catalog__btn-small">Каталог</span>
          </button>
          <ul class="catalog__list">
            <li class="catalog__item">
              <a class="catalog__link" href="#">
                Овощи и фрукты
              </a>
            </li>
            <li class="catalog__item">
              <a class="catalog__link" href="#">
                Бакалея
              </a>
            </li>
            <li class="catalog__item">
              <a class="catalog__link" href="#">
                Молочные продукты
              </a>
            </li>
            <li class="catalog__item">
              <a class="catalog__link" href="#">
                Хлеб
              </a>
            </li>
            <li class="catalog__item">
              <a class="catalog__link" href="#">
                Мясо
              </a>
            </li>
            <li class="catalog__item">
              <a class="catalog__link" href="#">
                Колбаса
              </a>
            </li>
            <li class="catalog__item">
              <a class="catalog__link" href="#">
                Рыба
              </a>
            </li>
            <li class="catalog__item">
              <a class="catalog__link" href="#">
                Алкоголь
              </a>
            </li>
            <li class="catalog__item">
              <a class="catalog__link" href="#">
                Напитки
              </a>
            </li>
            <li class="catalog__item">
              <a class="catalog__link" href="#">
                Торты
              </a>
            </li>
            <li class="catalog__item">
              <a class="catalog__link" href="#">
                Мясо
              </a>
            </li>
            <li class="catalog__item">
              <a class="catalog__link" href="#">
                Чай, кофе
              </a>
            </li>
            <li class="catalog__item">
              <a class="catalog__link" href="#">
                Овощи и фрукты
              </a>
            </li>
            <li class="catalog__item">
              <a class="catalog__link" href="#">
                Бакалея
              </a>
            </li>
            <li class="catalog__item">
              <a class="catalog__link" href="#">
                Молочные продукты
              </a>
            </li>
            <li class="catalog__item">
              <a class="catalog__link" href="#">
                Хлеб
              </a>
            </li>
            <li class="catalog__item">
              <a class="catalog__link" href="#">
                Мясо
              </a>
            </li>
            <li class="catalog__item">
              <a class="catalog__link" href="#">
                Колбаса
              </a>
            </li>
            <li class="catalog__item">
              <a class="catalog__link" href="#">
                Рыба
              </a>
            </li>
            <li class="catalog__item">
              <a class="catalog__link" href="#">
                Алкоголь
              </a>
            </li>
            <li class="catalog__item">
              <a class="catalog__link" href="#">
                Напитки
              </a>
            </li>
            <li class="catalog__item">
              <a class="catalog__link" href="#">
                Торты
              </a>
            </li>
            <li class="catalog__item">
              <a class="catalog__link" href="#">
                Мясо
              </a>
            </li>
            <li class="catalog__item">
              <a class="catalog__link" href="#">
                Чай, кофе
              </a>
            </li>


          </ul>

        </div>

        <form class="header__form" role="search">
          <label class="header__form-box">
            <span class="sr-only">Форма поиска товаров на сайте</span>
            <input class="header__form-input" type="search" name="search" placeholder="Найти в магазине ..." required>
          </label>
          <button class="header__form-btn" type="submit">поиск</button>
        </form>

        <ul class="header__nav">
          <li class="header__nav-item header__nav-item--search">
            <button class="search-btn" type="button">
              <span class="sr-only">Открыть поле поиска товаров</span>
              <svg class="search-btn__icon" width="24" height="24">
                <use xlink:href="images/sprite.svg#icon-search"></use>
              </svg>
            </button>
          </li>
          <li class="header__nav-item header__nav-item--user">
            <button class="user-btn user-btn--base" type="button">
              <span class="sr-only">Открыть личный кабинет</span>
              <svg class="user-btn__icon" width="25" height="32">
                <use xlink:href="images/sprite.svg#icon-user"></use>
              </svg>
            </button>
          </li>
          <li class="header__nav-item">
            <button class="fav-btn fav-btn--open fav-btn--big" type="button">
              <span class="sr-only">Открыть избранное</span>
              <svg class="fav-btn__icon" width="32" height="32">
                <use xlink:href="images/sprite.svg#icon-heart"></use>
              </svg>
            </button>
            <span class="header__nav-num">12</span>
          </li>
          <li class="header__nav-item">
            <button class="basket-btn basket-btn--open basket-btn--big" type="button">
              <span class="sr-only">Открыть корзину</span>
              <svg class="basket-btn__icon" width="32" height="31">
                <use xlink:href="images/sprite.svg#icon-basket"></use>
              </svg>
            </button>
            <span class="header__nav-num">12</span>
          </li>
        </ul>

      </div>

    </div>

    <div class="overlay"></div>

    <div class="favorites">
      <div class="favorites__head">
        <div class="favorites__head-left">
          <p class="favorites__title">Избранное</p>
          <button class="favorites__clean" type="submit">очистить избранное</button>
        </div>
        <button class="favorites__close-btn close-btn" type="button">
          <svg class="close-btn__icon" width="24" height="24">
            <use xlink:href="images/sprite.svg#icon-close"></use>
          </svg>
        </button>
      </div>
      <ul class="favorites__body">
        <li class="favorites__item">
          <article class="product-card product-card--middle">

            <button class="product-card__close-btn close-btn close-btn--small" type="button">
              <svg class="close-btn__icon close-btn__icon--small" width="24" height="24">
                <use xlink:href="images/sprite.svg#icon-close"></use>
              </svg>
            </button>

            <a class="product-card__link product-card__link--middle" href="/product-page.html">
              <img class="product-card__link-img" src="images/discounts/1.jpg" alt="Ананас" width="60" height="60">
            </a>

            <div class="product-card__info">
              <h3 class="product-card__title">
                Ананас, 1кг
              </h3>

              <div class="product-card__bottom">

                <div class="prices prices--middle">
                  <span class="prices__item">
                    99
                    <span class="currency">₴</span>
                  </span>
                </div>

                <div class="product-card__bottom-box">

                  <div class="counter">
                    <button class="counter__btn counter__btn--minus" type="button" name="counter__btn-minus">
                      <svg class="counter__btn-icon" width="24" height="24">
                        <use xlink:href="images/sprite.svg#icon-minus"></use>
                      </svg>
                    </button>
                    <label class="counter__caption">
                      <span class="sr-only">Введите количество товара</span>
                      <input class="counter__value" type="text" name="number" value="1">
                    </label>
                    <button class="counter__btn counter__btn--plus" type="button" name="counter__btn-plus">
                      <svg class="counter__btn-icon" width="24" height="24">
                        <use xlink:href="images/sprite.svg#icon-plus"></use>
                      </svg>
                    </button>
                  </div>

                  <span class="product-card__sum">
                    99
                    <span class="currency currency--rub">₽</span>
                  </span>

                </div>

              </div>
            </div>

          </article>
        </li>
        <li class="favorites__item">
          <article class="product-card product-card--middle">

            <button class="product-card__close-btn close-btn close-btn--small" type="button">
              <svg class="close-btn__icon  close-btn__icon--small" width="24" height="24">
                <use xlink:href="images/sprite.svg#icon-close"></use>
              </svg>
            </button>

            <a class="product-card__link product-card__link--middle" href="/product-page.html">
              <img class="product-card__link-img" src="images/discounts/1.jpg" alt="Ананас" width="60" height="60">
            </a>

            <div class="product-card__info">
              <h3 class="product-card__title">
                Ананас, 1кг
              </h3>

              <div class="product-card__bottom">

                <div class="prices prices--middle">
                  <span class="prices__item">
                    99
                    <span class="currency">₴</span>
                  </span>
                </div>

                <div class="product-card__bottom-box">

                  <div class="counter">
                    <button class="counter__btn counter__btn--minus" type="button" name="counter__btn-minus">
                      <svg class="counter__btn-icon" width="24" height="24">
                        <use xlink:href="images/sprite.svg#icon-minus"></use>
                      </svg>
                    </button>
                    <label class="counter__caption">
                      <span class="sr-only">Введите количество товара</span>
                      <input class="counter__value" type="text" name="number" value="1">
                    </label>
                    <button class="counter__btn counter__btn--plus" type="button" name="counter__btn-plus">
                      <svg class="counter__btn-icon" width="24" height="24">
                        <use xlink:href="images/sprite.svg#icon-plus"></use>
                      </svg>
                    </button>
                  </div>

                  <span class="product-card__sum">
                    99
                    <span class="currency currency--rub">₽</span>
                  </span>

                </div>



              </div>
            </div>

          </article>
        </li>

      </ul>
    </div>

    <div class="basket">
      <div class="basket__head">
        <div class="basket__head-left">
          <p class="basket__title">Корзина</p>
          <button class="basket__clean" type="submit">очистить корзину</button>
        </div>
        <button class="basket__close-btn close-btn" type="button">
          <svg class="close-btn__icon" width="24" height="24">
            <use xlink:href="images/sprite.svg#icon-close"></use>
          </svg>
        </button>
      </div>
      <ul class="basket__body">
        <li class="basket__item">
          <article class="product-card product-card--middle">

            <button class="product-card__close-btn close-btn close-btn--small" type="button">
              <svg class="close-btn__icon close-btn__icon--small" width="24" height="24">
                <use xlink:href="images/sprite.svg#icon-close"></use>
              </svg>
            </button>

            <a class="product-card__link product-card__link--middle" href="/product-page.html">
              <img class="product-card__link-img" src="images/discounts/1.jpg" alt="Ананас" width="60" height="60">
            </a>

            <div class="product-card__info">
              <h3 class="product-card__title">
                Ананас, 1кг
              </h3>

              <div class="product-card__bottom">

                <div class="prices prices--middle">
                  <span class="prices__item">
                    99
                    <span class="currency">₴</span>
                  </span>
                </div>

                <div class="product-card__bottom-box">

                  <div class="counter">
                    <button class="counter__btn counter__btn--minus" type="button" name="counter__btn-minus">
                      <svg class="counter__btn-icon" width="24" height="24">
                        <use xlink:href="images/sprite.svg#icon-minus"></use>
                      </svg>
                    </button>
                    <label class="counter__caption">
                      <span class="sr-only">Введите количество товара</span>
                      <input class="counter__value" type="text" name="number" value="1">
                    </label>
                    <button class="counter__btn counter__btn--plus" type="button" name="counter__btn-plus">
                      <svg class="counter__btn-icon" width="24" height="24">
                        <use xlink:href="images/sprite.svg#icon-plus"></use>
                      </svg>
                    </button>
                  </div>

                  <span class="product-card__sum">
                    99
                    <span class="currency currency--rub">₽</span>
                  </span>

                </div>

              </div>
            </div>

          </article>
        </li>
        <li class="basket__item">
          <article class="product-card product-card--middle">

            <button class="product-card__close-btn close-btn close-btn--small" type="button">
              <svg class="close-btn__icon  close-btn__icon--small" width="24" height="24">
                <use xlink:href="images/sprite.svg#icon-close"></use>
              </svg>
            </button>

            <a class="product-card__link product-card__link--middle" href="/product-page.html">
              <img class="product-card__link-img" src="images/discounts/1.jpg" alt="Ананас" width="60" height="60">
            </a>

            <div class="product-card__info">
              <h3 class="product-card__title">
                Ананас, 1кг
              </h3>

              <div class="product-card__bottom">

                <div class="prices prices--middle">
                  <span class="prices__item">
                    99
                    <span class="currency">₴</span>
                  </span>
                </div>

                <div class="product-card__bottom-box">

                  <div class="counter">
                    <button class="counter__btn counter__btn--minus" type="button" name="counter__btn-minus">
                      <svg class="counter__btn-icon" width="24" height="24">
                        <use xlink:href="images/sprite.svg#icon-minus"></use>
                      </svg>
                    </button>
                    <label class="counter__caption">
                      <span class="sr-only">Введите количество товара</span>
                      <input class="counter__value" type="text" name="number" value="1">
                    </label>
                    <button class="counter__btn counter__btn--plus" type="button" name="counter__btn-plus">
                      <svg class="counter__btn-icon" width="24" height="24">
                        <use xlink:href="images/sprite.svg#icon-plus"></use>
                      </svg>
                    </button>
                  </div>

                  <span class="product-card__sum">
                    99
                    <span class="currency currency--rub">₽</span>
                  </span>

                </div>



              </div>
            </div>

          </article>
        </li>

      </ul>
      <div class="basket__bottom">
        <div class="basket__sum">
          <p class="basket__sum-title">Товаров на сумму</p>
          <span class="basket__sum-value">2038
            <span class="currency">₽</span>
          </span>
        </div>
        <button class="basket__btn btn" type="submit">Оформить заказ</button>
      </div>
    </div>

    <div class="side-menu">

      <div class="side-menu__top">
        <a class="logo" href="/">
          <img class="logo__img" src="images/logo--green.svg" alt="Логотип" width="200" height="60">
        </a>
        <button class="side-menu__close-btn close-btn" type="button">
          <svg class="close-btn__icon" width="24" height="24">
            <use xlink:href="images/sprite.svg#icon-close"></use>
          </svg>
        </button>

      </div>

      <div class="side-menu__user-block user-block">
        <button class="user-block__btn">Вход</button>
        <button class="user-block__btn">Регистрация</button>
      </div>

      <div class="catalog">

        <button class="catalog__btn catalog__btn--side" type="button">
          <span class="catalog__btn-main">Каталог продуктов</span>
          <span class="catalog__btn-small">Каталог</span>
        </button>
        <ul class="catalog__list catalog__list--side">
          <li class="catalog__item">
            <a class="catalog__link" href="#">
              Овощи и фрукты
            </a>
          </li>
          <li class="catalog__item">
            <a class="catalog__link" href="#">
              Бакалея
            </a>
          </li>
          <li class="catalog__item">
            <a class="catalog__link" href="#">
              Молочные продукты
            </a>
          </li>
          <li class="catalog__item">
            <a class="catalog__link" href="#">
              Хлеб
            </a>
          </li>
          <li class="catalog__item">
            <a class="catalog__link" href="#">
              Мясо
            </a>
          </li>
          <li class="catalog__item">
            <a class="catalog__link" href="#">
              Колбаса
            </a>
          </li>
          <li class="catalog__item">
            <a class="catalog__link" href="#">
              Рыба
            </a>
          </li>
          <li class="catalog__item">
            <a class="catalog__link" href="#">
              Алкоголь
            </a>
          </li>
          <li class="catalog__item">
            <a class="catalog__link" href="#">
              Напитки
            </a>
          </li>
          <li class="catalog__item">
            <a class="catalog__link" href="#">
              Торты
            </a>
          </li>
          <li class="catalog__item">
            <a class="catalog__link" href="#">
              Мясо
            </a>
          </li>
          <li class="catalog__item">
            <a class="catalog__link" href="#">
              Чай, кофе
            </a>
          </li>
          <li class="catalog__item">
            <a class="catalog__link" href="#">
              Овощи и фрукты
            </a>
          </li>
          <li class="catalog__item">
            <a class="catalog__link" href="#">
              Бакалея
            </a>
          </li>
          <li class="catalog__item">
            <a class="catalog__link" href="#">
              Молочные продукты
            </a>
          </li>
          <li class="catalog__item">
            <a class="catalog__link" href="#">
              Хлеб
            </a>
          </li>
          <li class="catalog__item">
            <a class="catalog__link" href="#">
              Мясо
            </a>
          </li>
          <li class="catalog__item">
            <a class="catalog__link" href="#">
              Колбаса
            </a>
          </li>
          <li class="catalog__item">
            <a class="catalog__link" href="#">
              Рыба
            </a>
          </li>
          <li class="catalog__item">
            <a class="catalog__link" href="#">
              Алкоголь
            </a>
          </li>
          <li class="catalog__item">
            <a class="catalog__link" href="#">
              Напитки
            </a>
          </li>
          <li class="catalog__item">
            <a class="catalog__link" href="#">
              Торты
            </a>
          </li>
          <li class="catalog__item">
            <a class="catalog__link" href="#">
              Мясо
            </a>
          </li>
          <li class="catalog__item">
            <a class="catalog__link" href="#">
              Чай, кофе
            </a>
          </li>


        </ul>

      </div>

      <address class="side-menu__contacts">
        <a class="side-menu__contacts-link" href="tel:+380501112233">
          <svg class="side-menu__contacts-icon" width="24" height="24">
            <use xlink:href="images/sprite.svg#icon-tel"></use>
          </svg>
          +38 050 111 22 33
        </a>
        <a class="side-menu__contacts-link" href="#">
          <svg class="side-menu__contacts-icon" width="24" height="32">
            <use xlink:href="images/sprite.svg#icon-location"></use>
          </svg>
          Запорожье, ул. Т.Г. Шевченко, 1
        </a>
        <ul class="social">
          <li class="social__item">
            <a class="social__link" href="#">
              <span class="sr-only">Перейти в фейсбук</span>
              <svg class="social__link-icon" width="33" height="32">
                <use xlink:href="images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="#">
              <span class="sr-only">Перейти в ютуб</span>
              <svg class="social__link-icon" width="32" height="32">
                <use xlink:href="images/sprite.svg#youtube"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="#">
              <span class="sr-only">Перейти в телеграмм</span>
              <svg class="social__link-icon" width="33" height="32">
                <use xlink:href="images/sprite.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="#">
              <span class="sr-only">Перейти в инстаграмм</span>
              <svg class="social__link-icon" width="32" height="32">
                <use xlink:href="images/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </address>

      <ul class="side-menu__list">

        <li class="side-menu__item">
          <a class="side-menu__link" href="#hero">
            Доставка
          </a>
        </li>
        <li class="side-menu__item">
          <a class="side-menu__link" href="#hero">
            О нас
          </a>
        </li>
        <li class="side-menu__item">
          <a class="side-menu__link" href="#news">
            Новости
          </a>
        </li>
        <li class="side-menu__item">
          <a class="side-menu__link" href="#footer">
            Контакты
          </a>
        </li>
        <li class="side-menu__item">
          <a class="side-menu__link" href="#discounts">
            Акции
          </a>
        </li>
        <li class="side-menu__item">
          <a class="side-menu__link" href="#">
            Вакансии
          </a>
        </li>
        <li class="side-menu__item">
          <a class="side-menu__link" href="#">
            Отзывы
          </a>
        </li>
        <li class="side-menu__item">
          <a class="side-menu__link" href="#">
            Публичная оферта
          </a>
        </li>

      </ul>

    </div>

  </nav>
</header>