<section class="hero" id="hero">
  <h1 class="sr-only">
    Головна сторінка магазину Freshok
  </h1>
  <div class="hero__inner">

    <div class="hero__item">
      <picture class="hero__item-picture">
        <source media="(max-width: 576px)" srcset="images/hero/1--small.jpg" width="375" height="320" />
        <img class="hero__item-img" src="images/hero/1.jpg" alt="Морковь" width="1920" height="600">
      </picture>
      <div class="container hero__container">

        <div class="hero__item-content">
          <p class="hero__item-title">
            свежачок вам в хату
            <span class="hero__title-accent">
              скидка -50%
            </span>
          </p>
          <p class="hero__item-text">
            Только с 7 по 13 июля скидка на сезонные фрукты и овощи до 50%. Торопитесь!
          </p>
          <a class="btn" href="#">Купить сейчас</a>
        </div>

      </div>
    </div>

    <div class="hero__item">
      <picture class="hero__item-picture">
        <!-- <source media="(max-width: 576px)" srcset="images/hero/2--small.jpg" width="375" height="320" /> -->
        <img class="hero__item-img" src="images/hero/2.jpg" alt="Помидоры" width="1920" height="600">
      </picture>
      <div class="container hero__container">
        <div class="hero__item-content">
          <p class="hero__item-title">
            накрути себе томатов
            <span class="hero__title-accent">
              акция: 3кг по цене 1
            </span>
          </p>
          <p class="hero__item-text">
            Только с 12 по 15 июля скидка на домашние помидорчики
          </p>
          <a class="btn" href="#">Купить сейчас</a>
        </div>

      </div>
    </div>

    <div class="hero__item">
      <picture class="hero__item-picture">
        <!-- <source media="(max-width: 576px)" srcset="images/hero/3--small.jpg" width="375" height="320" /> -->
        <img class="hero__item-img" src="images/hero/3.jpg" alt="Зелень" width="1920" height="600">
      </picture>
      <div class="container hero__container">
        <div class="hero__item-content">
          <p class="hero__item-title">
            Пусть остальные
            позеленеют от зависти
            <span class="hero__title-accent">
              Распродажа зелени
            </span>
          </p>
          <a class="btn" href="#">Купить сейчас</a>
        </div>

      </div>
    </div>

  </div>
</section>