.advantages {
  padding: 48px 29px;
  background-color: $silver-100;

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    max-width: 264px;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: left top;
    padding-left: 74px;

    &:not(:last-child) {
      margin-right: 65px;
    }
  }

  &__title {
    color: $dark-900;
    margin-bottom: 7px;
  }

  &__text {
    max-width: 170px;
  }

  @media (max-width: 1200px) {}

  @media (max-width: 992px) {

    &__list {
      flex-direction: column;
      align-items: center;
    }

    &__item {
      max-width: 341px;
      width: 100%;

      &:not(:last-child) {
        margin: 0 0 50px 0;
      }
    }

    &__text {
      max-width: 100%;
    }

  }

  @media (max-width: 768px) {
    padding: 30px 0
  }

  @media (max-width: 576px) {
    &__list {
      align-items: flex-start;
    }

    &__item {
      &:not(:last-child) {
        margin: 0 0 30px 0;
      }
    }
  }
}

// @media (max-width: 1200px) {}

// @media (max-width: 992px) {}

// @media (max-width: 768px) {}

// @media (max-width: 576px) {}