.best-products {
  text-align: center;

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-bottom: 48px;
  }

  @media (max-width: 1200px) {
    &__list {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (max-width: 992px) {}

  @media (max-width: 768px) {
    &__list {
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
      grid-gap: 25px;
    }
  }

  @media (max-width: 576px) {
    &__list {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 5px;
    }
  }
}