.brands {

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 55px;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__link {
    width: 88px;
    height: 66px;
    background-repeat: no-repeat;
    background-size: 80px 58px;
    background-position: center;
    opacity: 50%;
    border-radius: 6px;
    border: 4px solid transparent;
    transition: opacity 0.5s,
      box-shadow 0.5s,
      border-color 0.5s;


    &:hover {
      opacity: 100%;
    }

    &:focus {
      border-color: $green-200;
      opacity: 100%;
    }

    &:active {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  @media (max-width: 1200px) {
    &__list {
      padding: 0 25px;
    }
  }

  @media (max-width: 992px) {}

  @media (max-width: 768px) {}

  @media (max-width: 576px) {}
}