.news {
  padding-top: 0;

  &__title {
    text-align: left;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -15px;
  }

  &__item {
    margin: 15px;
  }

  @media (max-width: 1200px) {
  }

  @media (max-width: 992px) {}

  @media (max-width: 768px) {}

  @media (max-width: 576px) {}

}