.product {

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 63px;
  }

  &__images {
    max-width: 630px;
    margin-right: 30px;
  }

  &__images-slick-prev,
  &__images-slick-next {
    border: none;
    padding: 0;
    cursor: pointer;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    border-radius: 6px;
    transition: box-shadow 0.5s,
      background-color 0.5s;

    &:focus {
      box-shadow: 0px 0px 0px 3px rgba(99, 166, 14, 0.5);
    }

    &:hover {
      background-color: $green-200;

      .slick-prev-img path,
      .slick-next-img path {
        fill: $green-900;
      }
    }

    &:active {
      background-color: #F3F3F2;

      .slick-prev-img path,
      .slick-next-img path {
        fill: $green-900;
      }
    }
  }

  .product-prev-img path,
  .product-next-img path {
    transition: fill 0.5s;
  }

  &__images-slick-prev {
    left: 3%;
  }

  &__images-slick-next {
    right: 3%;
  }

  .slick-disabled {

    .product-prev-img path,
    .product-next-img path {
      fill: $silver-600;
    }
  }

  .product__images-slick-prev,
  .product__images-slick-prev .slick-disabled {
    opacity: 0.8;
  }

  &__title {
    text-align: left;
    font-size: 32px;
    line-height: 1.2;

    &--second {
      font-size: 26px;
      display: none;
    }
  }

  &__badges {
    margin-bottom: 18px;
  }

  &__line-1,
  &__line-2 {
    margin-bottom: 30px;
    display: flex;
  }

  &__line-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .prices--line {
    justify-content: flex-end;
  }

  &__prices {
    margin-bottom: 59px;
  }

  .product__avail-сhecker {
    right: 15px;
  }

  &__rating {
    display: flex;
    align-items: center;

    &__value {
      margin-right: 2px;
    }
  }

  &__button {
    padding: 14px 12px 14px 49px;
    background-color: $green-900;
    color: $white;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.03em;
    margin-right: auto;
    margin-left: 18px;
    position: relative;
    border-radius: 3px;

    &::before {
      content: '';
      position: absolute;
      background-image: url('../images/icons/icon-basket.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      left: 12px;
      top: 10px;
      width: 24px;
      height: 23px;
    }
  }

  &__delivery-title {
    padding-bottom: 18px;
    margin-bottom: 18px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: $silver-600;
    }
  }

  &__delivery-link {
    display: inline-block;
    margin-top: 18px;
    font-size: 14px;
    line-height: 1.2;
    color: $green-900;
    letter-spacing: 0.03em;
  }

  &__info {
    max-width: 690px;
    margin: 0 auto;
  }

  &__btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
  }

  &__btns-item:not(:last-child) {
    margin-right: 145px;
  }

  &__btn {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.3;
    text-transform: uppercase;
    padding-top: 16px;
    position: relative;

    &--active {
      color: $green-900;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 3px;
        background: #63A60E;
      }
    }
  }

  &__desc {
    display: none;

    &--active {
      display: block;
    }
  }

  &__desc-text:not(:last-child) {
    margin-bottom: 30px;
  }

  &__char {
    display: none;

    &--active {
      display: block;
    }
  }

  &__char-item {
    color: $dark-500;
  }

  &__char-item:not(:last-child) {
    margin-bottom: 10px;
  }

  &__char-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.6;
  }

  &__reviews {
    display: none;

    &--active {
      display: block;
    }
  }

  &__reviews-title {
    margin-bottom: 48px;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $dark-900;
  }

  &__reviews-content {
    margin-bottom: 72px;
  }

  &__form {}

  &__form-inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &__form-caption {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 1.3;
    color: $dark-900;

    &--checkbox {
      flex-direction: row;
    }
  }

  &__checkbox {
    margin-right: 12px;
    width: 24px;
    height: 24px;
    border-radius: 3px;
  }

  &__form-box {
    display: flex;
    flex-direction: column;

  }

  &__form-caption {
    &:not(:last-child) {
      margin-bottom: 24px;
    }

    &--review {
      &:not(:last-child) {
        margin-bottom: 0px;
      }
    }

  }

  &__form-input {
    padding: 18px;
    border: 1px solid $silver-600;
    border-radius: 3px;
    min-width: 260px;
    margin-top: 12px;

    &--review {
      min-width: 400px;
      min-height: 165px;
      resize: none;
    }
  }

  &__form-btn {
    padding: 12px 24px;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: $white;
    background-color: $green-900;
    border-radius: 6px;
  }

  @media (max-width: 1200px) {
    &__wrapper {
      flex-direction: column;
      margin-bottom: 63px;
    }

    &__title {
      display: none;

      &--second {
        display: block;
      }
    }

    &__images {
      max-width: 345px;
      margin: 0 0 30px 0;
    }

         .product__avail-сhecker {
           display: none;
         }
  }

  @media (max-width: 992px) {}

  @media (max-width: 768px) {

    &__images {
      max-width: 345px;
    }

    &__btn {
      font-size: 14px;
      line-height: 1.7;
    }

    &__form-inner {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__form-caption {
      margin-bottom: 18px;

      &--review {
        &:not(:last-child) {
          margin-bottom: 18px;
        }
      }
    }

    &__form-input {
      min-width: 345px;
      max-width: 345px;
    }

    &__btns-item:not(:last-child) {
      margin-right: 80px;
    }

    &__button {
      padding: 0;
      font-size: 0;
      width: 48px;
      height: 44px;

      &::before {
        content: '';
        left: 12px;
        right: 12px;
        top: 10px;
        bottom: 10px;
      }
    }

   
  }

  @media (max-width: 576px) {
    &__btns {}

    &__btns-item:not(:last-child) {
      margin-right: 20px;
    }

    &__images {
      max-width: 315px;
    }

    .product__avail-сhecker {
      display: block;
      right: 15px;
    }
  }
}

.user {
  max-width: 790px;

  &:not(:last-child) {
    padding-bottom: 24px;
    margin-bottom: 24px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 1px;
      background-color: $silver-600;
    }
  }

  &__info {
    display: flex;
  }

  &__info-main {
    display: flex;
    align-items: center;
    max-width: 240px;
    margin-bottom: 24px;
  }

  &__avatar {
    margin-right: 24px;
    border-radius: 50%;
  }

  &__name {
    margin-bottom: 4px;
  }

  &__date {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: $input-color;
  }
}