.banners {
  text-align: left;
  
  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 23%;
    padding: 76px 32px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-weight: 700;
    text-transform: uppercase;

    &:first-child {
      width: 48%;
      color: $white;

      .banners__subtitle {
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
      }

      .banners__title {
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
      }

      .banners__link {
        border-bottom: 2px solid $white;
      }
    }
  }

  &__subtitle {
    font-size: 12px;
    line-height: 1;
    letter-spacing: 10%;
    margin-bottom: 18px;
  }

  &__title {
    font-family: 'Ruda', sans-serif;
    font-weight: 600;
    font-size: 30px;
    max-width: 430px;
    margin-bottom: 12px;
  }

  &__link {
    font-size: 14px;
    line-height: 1;
    border-bottom: 2px solid $dark-500;
  }
}