.brands {
  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__link {
    transition: opacity 0.5s;

    &:hover {
      opacity: 50%;
    }
  }

  &__img{
    width: 80px;
    height: 58px;
  }
}