.logo {
  margin-right: 24px;
  transition: box-shadow 0.5s,
    opacity 0.5s;

  &:hover {
    opacity: 50%;
  }

  &:focus {
    box-shadow: 0px 0px 0px 3px $green-100;
    border-radius: 3px;
  }

  &:active {
    opacity: 20%;
  }

  &__img {
    max-width: inherit;
  }
}

.catalog {
  position: relative;

  &__btn {
    padding: 16px 38px 17px 61px;
    min-width: 240px;
    color: $green-900;
    background-color: $white;
    border-radius: 6px;
    position: relative;
    display: flex;
    align-items: center;
    transition: box-shadow 1s;

    &::before {
      content: '';
      position: absolute;
      left: 18px;
      width: 25px;
      height: 17px;
      background-image: url('../images/icons/nav-icon.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    &::after {
      content: '';
      position: absolute;
      right: 18px;
      width: 4px;
      height: 7px;
      background-image: url('../images/icons/arrow-down.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    &:focus {
      box-shadow: 0px 0px 0px 3px $green-100;
      border-radius: 3px;
    }

    &--active {
      border-radius: 6px 6px 0 0;
      transition: background-color 0.5s;

      &:hover {
        background-color: $green-200;
      }
    }

    &--side {
      background-color: $white;
      padding: 15px 85px 15px 56px;
      width: 300px;

      &::after {
        display: none;
      }
    }
  }

  &__btn-small {
    display: none;
  }

  &__list {
    height: 600px;
    z-index: 5;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    display: none;

    &--active {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }

    &--active-side {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }

    &--active-side {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
    }

    &--side {
      overflow-y: scroll;
    }
  }

  &__item {
    width: 100%;
    border: 1px solid #C1C1C14D;
    background-color: $white;
    transition: border 0.5s;

    &:hover {
      border-left: 3px solid $green-900;
    }

    &:nth-child(12n+12) {
      border-radius: 0 0 6px 6px;
    }
  }

  &__link {
    color: $black;
    line-height: 1.2;
    display: block;
    padding: 15px 24px;
    transition: color 0.5s,
      box-shadow 0.5s;

    &:hover {
      color: $green-900;
    }

    &:focus {
      box-shadow: inset 0px 0px 0px 3px $green-200;
    }

    &:active {
      color: $silver-600;
    }

    &--active {
      color: $silver-600;
    }
  }

  @media (max-width: 1200px) {
    &__btn {
      padding: 16px 44px 17px 57px;
      min-width: 170px;

      &--side {
        padding: 15px 85px 15px 56px;
      }
    }

    &__btn-main {
      display: none;
    }

    &__btn-small {
      display: inline-block;
    }

    &__btn--side {
      .catalog__btn-main {
        display: inline-block;
      }

      .catalog__btn-small {
        display: none;
      }
    }
  }
}

.user-nav {
  display: flex;
  align-items: center;

  &__item {
    margin-right: 11px;
    position: relative;

    &:last-child {
      margin-right: 7px;
    }

    &--search {
      display: none;
    }

    @media (max-width: 768px) {

      &:not(:last-child) {
        margin-right: 5px;
      }

      &--search {
        display: block;
      }

      &--user {
        display: none;
      }
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 3px;
    position: relative;
    transition: background-color 0.5s,
      box-shadow 0.5s,
      opacity 0.5s;

    &:hover {
      background-color: $fav-nav-bg;
    }

    &:focus {
      box-shadow: inset 0px 0px 0px 3px $green-100;
      background-color: $fav-nav-bg;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__num {
    text-align: center;
    position: absolute;
    top: 3px;
    left: 3px;
    width: 18px;
    height: 18px;
    color: $red-900;
    background-color: $white;
    border-radius: 50%;
    font-size: 10px;
    line-height: 1.8;
  }
}

.user-block {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $green-900;
  padding: 15px 44px 15px 55px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 15px;
    top: 9px;
    width: 25px;
    height: 32px;
    background-image: url('../images/icons/icon-user.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &__btn {
    position: relative;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: $white;
  }

  &__btn:not(:last-child) {
    margin-right: 30px;

    &::after {
      content: '';
      position: absolute;
      top: 2px;
      margin: 0 15px;
      width: 1px;
      height: 18px;
      background-color: $white;
    }
  }

}

.side-menu {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 50;
  background-color: $white;
  max-width: 300px;
  height: 100vh;
  transform: translateY(-1000%);
  transition: transform 1s;

  &--active {
    transform: translateY(0%);
  }

  &__top {
    padding: 15px 26px 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__contacts {
    padding: 26px 15px 24px;
    border-top: 1px solid rgba(193, 193, 193, 0.3);
    border-bottom: 1px solid rgba(193, 193, 193, 0.3);
  }

  &__contacts-item {
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.03em;
    display: flex;
  }

  &__contacts-item:not(:last-child) {
    margin-bottom: 18px;
  }

  &__contacts-icon {
    margin-right: 15px;
    fill: $dark-800;
  }

  .social__link-icon {
    fill: $dark-800;
  }

  &__list {
    padding: 24px 15px;
  }

  &__item {}

  &__link {
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    display: block;
    padding: 8px 0;
  }

}

.header {
  letter-spacing: 0.03em;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  /*--header__top------------------------------*/

  &__burger {
    position: relative;
    margin-right: auto;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    margin-left: 7px;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 30px;
      height: 2px;
      background-color: #fff;
    }

    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 30px;
      height: 2px;
      background-color: #fff;
    }
  }

  &__burger-line {
    display: block;
    width: 30px;
    height: 2px;
    margin: auto 0;
    background-color: #fff;

  }

  &__top {
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    padding: 14px 0;
    color: $white;
    background-color: $dark-800;
  }

  &__top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__contacts {
    display: flex;
  }

  &__contacts-item {

    &:not(:last-child) {
      margin-right: 48px;
    }
  }

  &__contacts-icon {
    margin-right: 12px;
    transition: fill 1s;
  }

  &__contacts-link {
    display: flex;
    align-items: flex-end;
    transition: opacity 1s,
      color 1s,
      box-shadow 1s;

    &:hover {
      opacity: 0.7;
    }

    &:focus {
      box-shadow: 0px 0px 0px 3px $green-100;
      border-radius: 3px;
    }

    &:active {
      color: $green-200;

      .header__contacts-icon {
        fill: $green-200;
      }

    }
  }

  &__contacts-icon {
    fill: $white;
  }

  &__menu {
    display: flex;
  }

  &__menu-item {
    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  &__menu-link {
    border-radius: 3px;
    transition: box-shadow 1s,
      opacity 0.5s,
      color 0.5s;


    &:hover {
      opacity: 0.7;
    }

    &:focus {
      box-shadow: 0px 0px 0px 3px $green-100;
    }

    &:active {
      color: $green-200;
    }
  }

  /*--header__bottom------------------------------*/

  &__bottom {
    font-weight: 600;
    font-size: 14px;
    padding: 30px 0;
    background-color: $green-900;
  }

  &__catalog {
    margin-right: 30px;
  }

  &__form {
    display: flex;
    justify-content: space-between;
    max-width: 576px;
    width: 100%;
    margin-right: 10px;
    position: relative;
  }

  &__form-box {
    width: 100%;
  }

  &__form-input {
    font-weight: 400;
    color: $dark-800;
    padding: 15px 51px;
    width: 100%;
    border-radius: 6px 0 0 6px;
    background-image: url('../images/icons/search.svg');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 13px center;

    @extend %input-focus;
  }

  &__form-btn {
    text-transform: uppercase;
    padding: 8px 52px;
    color: $white;
    background-color: $dark-800;
    border-radius: 0 6px 6px 0;
    transition: background-color 1s,
      box-shadow 1s,
      color 1s;

    &:hover {
      background-color: rgba(49, 53, 43, 0.85);
    }

    &:focus {
      box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.5);
    }

    &:active {
      color: #FFFFFF80;
      background-color: $dark-800;
    }
  }


  @media (max-width: 1200px) {}

  @media (max-width: 992px) {

    &__top-container {
      justify-content: flex-end;
    }

    &__burger {
      display: flex;
    }

    &__menu {
      display: none;
    }

    &__contacts-text {
      display: none;
    }

    &__contacts-item:not(:last-child) {
      margin-right: 31px;
    }

    &__contacts-icon {
      margin: 0;
    }

    &__container {
      justify-content: space-between;
    }

    &__catalog {
      display: none;
    }

    &__form-input {
      padding: 15px 19px 15px 51px;
    }

    &__form-btn {
      padding: 8px 20px;
    }

  }

  @media (max-width: 768px) {

    &__form {
      display: none;
      position: absolute;
      z-index: 2;
      bottom: -60px;
      left: 0;
      max-width: 100%;
      overflow: hidden;

      &--active {
        display: flex;
      }
    }

    &__bottom {
      padding: 11px 0;
    }

    &__form-input {
      border-radius: 0;
      border: none;
      transition: box-shadow 1s;

      &:focus {
        box-shadow: inset 0px 0px 0px 3px $dark-800;
      }
    }

    &__form-btn {
      padding: 8px 52px;
      border-radius: 0;
    }

  }

  @media (max-width: 576px) {}

}