.user-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 3px;
  transition: background-color 0.5s,
    box-shadow 0.5s,
    opacity 0.5s;

  &__icon {
    fill: $white;
    transition: opacity 0.5s,
      fill 0.5s;
  }

  &--base {

    &:hover {
      background-color: $fav-nav-bg;
    }

    &:focus {
      box-shadow: inset 0px 0px 0px 3px $green-100;
      background-color: $fav-nav-bg;
    }

    &:active {
      background-color: $fav-nav-bg;
      .user-btn__icon {
        opacity: 0.5;
      }
    }

  }

}

.fav-btn {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 3px;
  transition: background-color 0.5s,
    box-shadow 0.5s,
    opacity 0.5s;

  .fav-btn__icon {
    fill: $silver-600;
    transition: opacity 0.5s,
      fill 0.5s;
  }

  &:hover .fav-btn__icon {
    fill: $yellow-900;
  }

  &:focus {
    box-shadow: 0px 0px 0px 3px $green-200;
    background: rgba(255, 255, 255, 0.0001);

    .fav-btn__icon {
      fill: $fav-btn-focus;
    }
  }

  &:active .fav-btn__icon {
    fill: #FFB80080;
  }


  &--big {
    width: 50px;
    height: 50px;

    .fav-btn__icon {
      fill: $white;
    }

    &:hover {
      background-color: $fav-nav-bg;

      .fav-btn__icon {
        fill: $white;
      }
    }

    &:focus {
      box-shadow: inset 0px 0px 0px 3px $green-100;
      background-color: $fav-nav-bg;

      .fav-btn__icon {
        fill: $white;
      }

    }

    &:active {
      background-color: $fav-nav-bg;

      .fav-btn__icon {
        fill: $white;
        opacity: 0.5;
      }
    }
  }

}

.basket-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: $green-900;
  border-radius: 3px;
  transition: background-color 0.5s,
    box-shadow 0.5s;

  &__icon {
    width: 16px;
    height: 15px;
    fill: $white;
    transition: opacity 0.5s,
      fill 0.5s;
  }

  &:hover {
    background-color: $green-hover-800;
  }

  &:focus {
    box-shadow: 0px 0px 0px 4px $green-200;
  }

  &:active {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: $green-900;

    .basket-btn__icon {
      opacity: 0.5;
    }
  }

  &--big {
    width: 50px;
    height: 50px;

    .basket-btn__icon {
      width: 32px;
      height: 31px;
    }

    &:hover {
      background-color: $fav-nav-bg;
    }

    &:focus {
      box-shadow: inset 0px 0px 0px 3px $green-100;
      background-color: $fav-nav-bg;
    }

    &:active {
      background-color: $fav-nav-bg;
    }
  }

}