.prices {
  &__item {
    display: block;
    font-size: 14px;
    line-height: 1;

    &:not(:last-child) {
      margin-bottom: 3px;
    }

    &--old {
      position: relative;
      color: $silver-600;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 7px;
        width: 45px;
        height: 1px;
        transform: rotate(-15deg);
        background-color: $silver-600;
      }
    }
  }

  &--line {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    font-weight: 600;

    .prices__item {
      font-size: 20px;

      &:not(:last-child) {
        margin-bottom: 3px;
      }

      &--old {
        font-weight: 400;
        font-size: 12px;
        margin-left: 10px;

        &::after {
          content: '';
          left: 0;
          width: 32px;
        }
      }
    }

  }
}