.rating {
  padding-right: 18px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  background-image: url('../images/icons/star.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.product-card {
  background-color: $white;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  min-height: 409px;
  padding: 60px 12px 18px;
  border: 1px solid rgba(17, 17, 17, 0.2);
  border-radius: 6px;
  position: relative;
  transition: border-color 0.5s;

  &:hover {
    border-color: $green-900;
  }

  /*--badges------------------------------*/

  &__badges {
    position: absolute;
    left: 12px;
    top: 12px;
    z-index: 1;
  }

  /*--fav------------------------------*/

  &__fav-btn {
    position: absolute;
    right: 12px;
    top: 10px;
    z-index: 1;
  }

  /*--img------------------------------*/

  &__link {
    width: 99%;
    height: 215px;
    position: relative;
    margin-bottom: 10px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: -13px;
      right: 0;
      width: 300px;
      background-color: transparent;
      transition: background-color 0.5s;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: url('../images/icons/search-bg.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 0;
      height: 0;
      transition: width 0.5s,
        height 0.5s;
    }

    &:hover {
      &::before {
        background-color: rgba(0, 0, 0, 0.1);
      }

      &::after {
        width: 48px;
        height: 48px;
      }
    }
  }

  &__link-img {
    width: 100%;
  }

  /*--bottom------------------------------*/

  &__title {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: $dark-900;
    text-align: left;
    margin: 0 0 10px 5px;
    flex-grow: 1;
    max-width: 250px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &--small {
    flex-direction: row;
    min-height: 124px;
    padding: 13px 12px;

    .product-card__link {
      margin-right: 12px;
      width: 58%;
      height: 100px;
      margin-bottom: 0;

      &::before {
        display: none;
      }

      &::after {
        display: none;

      }
    }

    .product-card__title {
      margin: 0;
    }

    .product-card__info {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .product-card__bottom {
      position: relative;
    }

    .product-card__avail-сhecker {
      left: 0;
      bottom: 24px;
    }

    .currency {
      font-size: 14px;
    }

    .prices__item--old {
      .currency {
        font-size: inherit;
      }
    }

  }

}