.btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 3%;
  border-radius: 6px;
  transition: background-color 1s,
    box-shadow 1s,
    opacity 1s;

  &--bg {
    color: $white;
    background-color: $green-900;

    &:hover {
      background-color: $green-hover-810;
    }

    &:focus {
      box-shadow: 0px 0px 0px 4px $green-200;
    }

    &:active {
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

  }

  &--border {
    background-color: transparent;
    border: 1px solid $green-900;
    color: $green-900;

    &:hover {
      background-color: $green-100;
    }

    &:focus {
      box-shadow: 0px 0px 0px 4px rgba(99, 166, 14, 0.5);
    }

    &:active {
      opacity: 0.5;
      box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.1);
    }
  }
}

.user-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 3px;
  transition: background-color 0.5s,
    box-shadow 0.5s,
    opacity 0.5s;

  &__icon {
    transition: opacity 0.5s,
      fill 0.5s;
  }

  &--base {

    &:hover {
      background-color: $fav-nav-bg;
    }

    &:focus {
      box-shadow: inset 0px 0px 0px 3px $green-100;
      background-color: $fav-nav-bg;
    }

    &:active {
      .user-btn__icon {
        opacity: 0.5;
      }
    }

  }

}

.fav-btn {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 3px;
  transition: background-color 0.5s,
    box-shadow 0.5s,
    opacity 0.5s;

  &__icon {
    transition: opacity 0.5s,
      fill 0.5s;
  }

  &--bg {

    &:hover {
      background-color: $fav-nav-bg;
    }

    &:focus {
      box-shadow: inset 0px 0px 0px 3px $green-100;
      background-color: $fav-nav-bg;
    }

    &:active {
      .fav-btn__icon {
        opacity: 0.5;
      }
    }

  }

  &--color {

    width: 44px;
    height: 44px;

    .fav-btn__icon {
      fill: $silver-600;
    }

    &:hover .fav-btn__icon {
      fill: $yellow-900;
    }

    &:focus {
      box-shadow: 0px 0px 0px 3px $green-200;
      background: rgba(255, 255, 255, 0.0001);

      .fav-btn__icon {
        fill: $fav-btn-focus;
      }
    }

    &:active .fav-btn__icon {
      fill: #FFB80080;
    }
  }



}

.basket-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 3px;
  transition: background-color 0.5s,
    box-shadow 0.5s;

  &__icon {
    transition: opacity 0.5s,
      fill 0.5s;
  }

  &--big {
    &:hover {
      background-color: $fav-nav-bg;
    }

    &:focus {
      box-shadow: inset 0px 0px 0px 3px $green-100;
      background-color: $fav-nav-bg;
    }

    &:active {
      .basket-btn__icon {
        opacity: 0.5;
      }
    }
  }

  &--small {

    .basket-btn__icon {
      width: 16px;
      height: 15px;
    }

    width: 32px;
    height: 32px;
    background-color: $green-900;

    &:hover {
      background-color: $green-hover-800;
    }

    &:focus {
      box-shadow: 0px 0px 0px 4px $green-200;
    }

    &:active {
      box-shadow: inset 0px 0px 0px 32px rgba(255, 255, 255, 0.25);

      .basket-btn__icon {
        opacity: 0.5;
      }
    }
  }
}

.badges {
  position: absolute;
  z-index: 1;

  &__item {
    display: block;
    padding: 3px 6px;
    border-radius: 6px;
    font-weight: 700;
    font-size: 10px;
    line-height: 1;
    color: $white;
    text-transform: uppercase;
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 6px;
    }

    &--new {
      background-color: $green-900;
    }

    &--disc {
      background-color: $red-900;
      width: 37px;
    }

    &--hit {
      background-color: $orrange-900;
      width: 34px;
    }
  }

}

.prices {
  &__item {
    display: block;
    font-size: 14px;
    line-height: 1;

    &:not(:last-child) {
      margin-bottom: 3px;
    }

    &--old {
      position: relative;
      color: $silver-600;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 7px;
        width: 45px;
        height: 1px;
        transform: rotate(-15deg);
        background-color: $silver-600;
      }
    }
  }
}

.social {
  display: flex;

  &__item {
    &:not(:last-child) {
      margin-right: 11px;
    }
  }

  &__link {
    display: block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: opacity 1s,
      box-shadow 1s;

    &:hover {
      opacity: 0.7;
    }

    &:focus {
      border-radius: 3px;
      box-shadow: 0px 0px 0px 3px $green-200;
    }

    &:active {
      .social__link-icon {
        fill: $green-200;
      }
    }

  }

  &__link-icon {
    transition: fill 1s;
  }

}