<section class="advantages">

  <h2 class="sr-only">
    Наші переваги
  </h2>

  <div class="container">
    <ul class="advantages__list">
      <li class="advantages__item" style="background-image: url('images/advantages/del.svg');">

        <p class="advantages__title">
          Бесплатная доставка
        </p>
        <p class="advantages__text">
          Для заказов на сумму от 500 ₴
        </p>
      </li>
      <li class="advantages__item" style="background-image: url('images/advantages/ret.svg');">
        <p class="advantages__title">
          Возврат товара
        </p>
        <p class="advantages__text">
          Если товары были испорчены
        </p>
      </li>
      <li class="advantages__item" style="background-image: url('images/advantages/sup.svg');">
        <p class="advantages__title">
          Поддержка 24/7
        </p>
        <p class="advantages__text">
          Лучшие операторы
        </p>
      </li>
    </ul>
  </div>
</section>