<section class="brands section">
  <div class="container">
    <h2 class="sr-only">
      Бренды, с которыми мы работаем
    </h2>

    <div class="brands__list">

      <div class="brands__item">
        <div class="brands__content">
          <a class="brands__link" href="#" style="background-image: url('images/brands/1.svg');"></a>
        </div>
      </div>
      <div class="brands__item">
        <div class="brands__content">
          <a class="brands__link" href="#" style="background-image: url('images/brands/2.svg');"></a>
        </div>
      </div>

      <div class="brands__item">
        <div class="brands__content">
          <a class="brands__link" href="#" style="background-image: url('images/brands/3.svg');"></a>
        </div>
      </div>

      <div class="brands__item">
        <div class="brands__content">
          <a class="brands__link" href="#" style="background-image: url('images/brands/4.svg');"></a>
        </div>
      </div>

      <div class="brands__item">
        <div class="brands__content">
          <a class="brands__link" href="#" style="background-image: url('images/brands/5.svg');"></a>
        </div>
      </div>

      <div class="brands__item">
        <div class="brands__content">
          <a class="brands__link" href="#" style="background-image: url('images/brands/6.svg');"></a>
        </div>
      </div>

      <div class="brands__item">
        <div class="brands__content">
          <a class="brands__link" href="#" style="background-image: url('images/brands/1.svg');"></a>
        </div>
      </div>

      <div class="brands__item">
        <div class="brands__content">
          <a class="brands__link" href="#" style="background-image: url('images/brands/4.svg');"></a>
        </div>
      </div>

    </div>

  </div>
</section>