<section class="discounts section">
  <div class="container">

    <h2 class="title">
      Акции
    </h2>

    <ul class="products-nav">
      <li class="products-nav__item">
        <button class="products-nav__btn .filter-discounts" data-filter="all" type="button">
          Все товары
        </button>
      </li>
      <li class="products-nav__item">
        <button class="products-nav__btn .filter-discounts" data-filter=".new" type="button">
          Новинки
        </button>
      </li>
      <li class="products-nav__item">
        <button class="products-nav__btn .filter-discounts" data-filter=".hit" type="button">
          Хиты
        </button>
      </li>
    </ul>

    <ul class="discounts__list">
      <li class="discounts__item mix new">
        <article class="product-card product-card--small">

          <div class="product-card__badges badges">
            <span class="badges__item badges__item--new">новинка</span>
          </div>

          <a class="product-card__link product-card__link--small" href="#">
            <img class="product-card__link-img" src="images/discounts/1.jpg" alt="Ананас" width="100" height="100">
          </a>

          <div class="product-card__info">
            <h3 class="product-card__title">
              Ананас, 1кг
            </h3>

            <div class="product-card__bottom">

              <span class="product-card__avail-сhecker avail-сhecker">
                в наличии
              </span>

              <div class="prices prices--line">
                <span class="prices__item prices__item--old">
                  199
                  <span class="currency currency--small">₴</span>
                </span>
                <span class="prices__item">
                  99
                  <span class="currency">₴</span>
                </span>
              </div>

              <div class="rating">
                <span class="rating__value">
                  4.5
                </span>
                <span class="rating__star" data-rateyo-rating="4.5"></span>
              </div>

            </div>
          </div>

        </article>
      </li>
      <li class="discounts__item mix new">
        <article class="product-card product-card--small">

          <div class="product-card__badges badges">
            <span class="badges__item badges__item--new">новинка</span>
          </div>

          <a class="product-card__link product-card__link--small" href="#">
            <img class="product-card__link-img" src="images/discounts/2.jpg"
              alt="Кофе с коноплей органический Caffé Salomoni" width="100" height="100">
          </a>

          <div class="product-card__info">
            <h3 class="product-card__title">
              Кофе с коноплей органический Caffé Salomoni 250г
            </h3>

            <div class="product-card__bottom">

              <span class="product-card__avail-сhecker avail-сhecker avail-сhecker--ends">
                заканчивается
              </span>

              <div class="prices prices--line">
                <span class="prices__item prices__item--old">
                  199
                  <span class="currency currency--small">₴</span>
                </span>
                <span class="prices__item">
                  99
                  <span class="currency">₴</span>
                </span>
              </div>

              <div class="rating">
                <span class="rating__value">
                  4.5
                </span>
                <span class="rating__star" data-rateyo-rating="4.5"></span>
              </div>

            </div>
          </div>
        </article>
      </li>
      <li class="discounts__item mix new">
        <article class="product-card product-card--small">

          <div class="product-card__badges badges">
            <span class="badges__item badges__item--new">новинка</span>
          </div>

          <a class="product-card__link product-card__link--small" href="#">
            <img class="product-card__link-img" src="images/discounts/3.jpg" alt="Клубника" width="100" height="100">
          </a>

          <div class="product-card__info">
            <h3 class="product-card__title">
              Клубника, 1 кг
            </h3>

            <div class="product-card__bottom">

              <span class="product-card__avail-сhecker avail-сhecker avail-сhecker--isnot">
                нет в наличии
              </span>

              <div class="prices prices--line">
                <span class="prices__item prices__item--old">
                  199
                  <span class="currency currency--small">₴</span>
                </span>
                <span class="prices__item">
                  99
                  <span class="currency">₴</span>
                </span>
              </div>

              <div class="rating">
                <span class="rating__value">
                  4.5
                </span>
                <span class="rating__star" data-rateyo-rating="4.5"></span>
              </div>

            </div>
          </div>
        </article>
      </li>
      <li class="discounts__item mix new">
        <article class="product-card product-card--small">

          <div class="product-card__badges badges">
            <span class="badges__item badges__item--new">новинка</span>
          </div>

          <a class="product-card__link product-card__link--small" href="#">
            <img class="product-card__link-img" src="images/discounts/4.jpg" alt="Манго" width="100" height="100">
          </a>

          <div class="product-card__info">
            <h3 class="product-card__title">
              Манго, 1 шт
            </h3>

            <div class="product-card__bottom">

              <span class="product-card__avail-сhecker avail-сhecker">
                в наличии
              </span>

              <div class="prices prices--line">
                <span class="prices__item prices__item--old">
                  199
                  <span class="currency currency--small">₴</span>
                </span>
                <span class="prices__item">
                  99
                  <span class="currency">₴</span>
                </span>
              </div>

              <div class="rating">
                <span class="rating__value">
                  4.5
                </span>
                <span class="rating__star" data-rateyo-rating="4.5"></span>
              </div>

            </div>
          </div>
        </article>
      </li>
      <li class="discounts__item mix new">
        <article class="product-card product-card--small">

          <div class="product-card__badges badges">
            <span class="badges__item badges__item--new">новинка</span>
          </div>

          <a class="product-card__link product-card__link--small" href="#">
            <img class="product-card__link-img" src="images/discounts/5.jpg" alt="Лосось" width="100" height="100">
          </a>

          <div class="product-card__info">
            <h3 class="product-card__title">
              Лосось, 1 кг
            </h3>

            <div class="product-card__bottom">

              <span class="product-card__avail-сhecker avail-сhecker">
                в наличии
              </span>

              <div class="prices prices--line">
                <span class="prices__item prices__item--old">
                  199
                  <span class="currency currency--small">₴</span>
                </span>
                <span class="prices__item">
                  99
                  <span class="currency">₴</span>
                </span>
              </div>

              <div class="rating">
                <span class="rating__value">
                  4.5
                </span>
                <span class="rating__star" data-rateyo-rating="4.5"></span>
              </div>

            </div>
          </div>
        </article>
      </li>
      <li class="discounts__item mix hit">
        <article class="product-card product-card--small">

          <div class="product-card__badges badges">
            <span class="badges__item badges__item--hit">хит</span>
          </div>

          <a class="product-card__link product-card__link--small" href="#">
            <img class="product-card__link-img" src="images/discounts/6.jpg" alt="Сок Granini овощной" width="100"
              height="100">
          </a>

          <div class="product-card__info">
            <h3 class="product-card__title">
              Сок Granini овощной 100%, 0.5л
            </h3>

            <div class="product-card__bottom">

              <span class="product-card__avail-сhecker avail-сhecker avail-сhecker--ends">
                заканчивается
              </span>

              <div class="prices prices--line">
                <span class="prices__item prices__item--old">
                  199
                  <span class="currency currency--small">₴</span>
                </span>
                <span class="prices__item">
                  99
                  <span class="currency">₴</span>
                </span>
              </div>

              <div class="rating">
                <span class="rating__value">
                  4.5
                </span>
                <span class="rating__star" data-rateyo-rating="4.5"></span>
              </div>

            </div>
          </div>

        </article>
      </li>
      <li class="discounts__item mix hit">
        <article class="product-card product-card--small">

          <div class="product-card__badges badges">
            <span class="badges__item badges__item--hit">хит</span>
          </div>

          <a class="product-card__link product-card__link--small" href="#">
            <img class="product-card__link-img" src="images/discounts/7.jpg" alt="Фруктовая корзина" width="100"
              height="100">
          </a>

          <div class="product-card__info">
            <h3 class="product-card__title">
              Фруктовая корзина, 1 шт
            </h3>

            <div class="product-card__bottom">

              <span class="product-card__avail-сhecker avail-сhecker">
                в наличии
              </span>

              <div class="prices prices--line">
                <span class="prices__item prices__item--old">
                  199
                  <span class="currency currency--small">₴</span>
                </span>
                <span class="prices__item">
                  99
                  <span class="currency">₴</span>
                </span>
              </div>

              <div class="rating">
                <span class="rating__value">
                  4.5
                </span>
                <span class="rating__star" data-rateyo-rating="4.5"></span>
              </div>

            </div>
          </div>
        </article>
      </li>
      <li class="discounts__item mix hit">
        <article class="product-card product-card--small">

          <div class="product-card__badges badges">
            <span class="badges__item badges__item--hit">хит</span>
          </div>

          <a class="product-card__link product-card__link--small" href="#">
            <img class="product-card__link-img" src="images/discounts/8.jpg" alt="Свинина мякоть" width="100"
              height="100">
          </a>

          <div class="product-card__info">
            <h3 class="product-card__title">
              Свинина мякоть, 1 кг
            </h3>

            <div class="product-card__bottom">

              <span class="product-card__avail-сhecker avail-сhecker">
                в наличии
              </span>

              <div class="prices prices--line">
                <span class="prices__item prices__item--old">
                  199
                  <span class="currency currency--small">₴</span>
                </span>
                <span class="prices__item">
                  99
                  <span class="currency">₴</span>
                </span>
              </div>

              <div class="rating">
                <span class="rating__value">
                  4.5
                </span>
                <span class="rating__star" data-rateyo-rating="4.5"></span>
              </div>

            </div>
          </div>

        </article>
      </li>
    </ul>

  </div>
</section>