<section class="news section">
  <div class="container">

    <h2 class="title news__title">
      Наши новости
    </h2>

    <ul class="news__list">
      <li class="news__item">
        <article class="news-card">
          <time datetime="2022-07-15 16:00" class="news-card__date">
            <span class="news-card__month">июль</span>
            <span class="news-card__day">15</span>
          </time>
          <img class="news-card__img" src="images/news/1.jpg" alt="Клубника" width="410" height="240">
          <a class="news-card__link" href="#">
            Событие этого лета: распродажа сезонных фруктов в онлайн-маркете ФрешОК. Торопись, пока всё не
            разобрали!
          </a>
        </article>
      </li>
      <li class="news__item">
        <article class="news-card">
          <time datetime="2022-05-07 17:00" class="news-card__date">
            <span class="news-card__month">май</span>
            <span class="news-card__day">07</span>
          </time>
          <img class="news-card__img" src="images/news/2.jpg" alt="Манго" width="410" height="240">
          <a class="news-card__link" href="#">
            Шикарнейший выбор манго в нашем онлайн-маркете
          </a>
        </article>
      </li>
      <li class="news__item">
        <article class="news-card">
          <time datetime="2022-02-20 18:00" class="news-card__date">
            <span class="news-card__month">февраль</span>
            <span class="news-card__day">20</span>
          </time>
          <img class="news-card__img" src="images/news/3.jpg" alt="Папая" width="410" height="240">
          <a class="news-card__link" href="#">
            Всё, что вы хотели знать о папайя
          </a>
        </article>
      </li>

    </ul>


  </div>
</section>