<div class="breadcrumbs">
  <div class="container">
    <ul class="breadcrumbs__list">

      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="#">
          Главная
        </a>
      </li>

      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="#">
          Каталог товаров
        </a>
      </li>

      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="#">
          Питахайя красная с белой мякотью
        </a>
      </li>

    </ul>
  </div>
</div>

<section class="product section">
  <div class="container">
    <div class="product__wrapper">

      <h2 class="product__title product__title--second title">Питахайя красная с белой мякотью</h2>

      <div class="product__images">

        <img class="product__image" src="images/product/1.jpg" alt="Фото продукта">
        <img class="product__image" src="images/product/1.jpg" alt="Фото продукта">
        <img class="product__image" src="images/product/1.jpg" alt="Фото продукта">

      </div>

      <div class="product__content">

        <h2 class="product__title title">Питахайя красная с белой мякотью</h2>

        <div class="product__badges badges">
          <span class="badges__item badges__item--big badges__item--hit">хит</span>
        </div>

        <div class="product__line-1">

          <div class="product__code-box">
            Код:
            <span class="product__code">
              0111111
            </span>
          </div>

          <div class="product__rating">
            <span class="rating__star" data-rateyo-rating="4.5"></span>
          </div>

          <span class="product__avail-сhecker avail-сhecker">
            в наличии
          </span>

        </div>

        <div class="product__prices prices prices--line">
          <span class="prices__item prices__item--old">
            199
            <span class="currency">₴</span>
          </span>
          <span class="prices__item">
            99
            <span class="currency">₴</span>
          </span>
        </div>

        <div class="product__line-2">

          <div class="counter">
            <button class="counter__btn counter__btn--minus" type="button" name="counter__btn-minus">
              <svg class="counter__btn-icon" width="24" height="24">
                <use xlink:href="images/sprite.svg#icon-minus"></use>
              </svg>
            </button>
            <label class="counter__caption">
              <span class="sr-only">Введите количество товара</span>
              <input class="counter__value" type="text" name="number" value="1">
            </label>
            <button class="counter__btn counter__btn--plus" type="button" name="counter__btn-plus">
              <svg class="counter__btn-icon" width="24" height="24">
                <use xlink:href="images/sprite.svg#icon-plus"></use>
              </svg>
            </button>
          </div>

          <button class="product__button" type="button">
            Добавить в корзину
          </button>

          <button class="product__fav-btn fav-btn" type="button">
            <span class="sr-only">Добавить в избранное</span>
            <svg class="fav-btn__icon" width="32" height="32">
              <use xlink:href="images/sprite.svg#icon-heart"></use>
            </svg>
          </button>

        </div>

        <div class="product__delivery">

          <h3 class="product__delivery-title">
            Доставка и оплата
          </h3>

          <p class="product__delivery-content">
            Минимальная сумма заказа - 100 грн.
          </p>
          <p class="product__delivery-content">
            Время доставки заказа - 60-120 мин.
          </p>
          <p class="product__delivery-content">
            Оплата осуществляется только банковской картой.
          </p>
          <p class="product__delivery-content">
            Окончательная сумма заказа формируется после сбора товаров.
          </p>

          <a class="product__delivery-link" href="#">Подробнее</a>

        </div>

      </div>
    </div>

    <div class="product__info">

      <ul class="product__btns">
        <li class="product__btns-item">
          <button class="product__btn product__btn--desc product__btn--active" type="button">
            описание
          </button>
        </li>
        <li class="product__btns-item">
          <button class="product__btn product__btn--char" type="button">
            характеристики
          </button>
        </li>
        <li class="product__btns-item">
          <button class="product__btn product__btn--reviews" type="button">
            отзывы (
            <span class="product__btn-info">
              2
            </span>
            )
          </button>
        </li>
      </ul>

      <div class="product__desc product__desc--active">
        <p class="product__desc-text">
          Питахайя – это источник питательных веществ и витаминов. Содержит витамин С, который способствует укреплению
          иммунной
          системы. В составе питайи много клетчатки, она благотворно влияет на работу ЖКТ. Оказывает
          противовоспалительное
          действие, так как фрукт богат антиоксидантами. При употреблении питахайи, понижается уровень сахара в крови,
          улучшается
          зрение и работа сердечно–сосудистой системы. Так как фрукт низкокалорийный и состоит на 90% из воды,
          способствует
          снижению веса.
        </p>
        <p class="product__desc-text">
          Витамины: С, Е, РР, витамины группы В
        </p>
        <p class="product__desc-text">
          Микроэлементы: железо, калий, кальций, магний, фосфор
        </p>
        <p class="product__desc-text">
          Внешний вид товара может отличаться от изображений, представленных на сайте.
        </p>
      </div>

      <div class="product__char">
        <p class="product__char-item">
          <span class="product__char-title">
            Вес:
          </span>
          250-350 г;
        </p>
        <p class="product__char-item">
          <span class="product__char-title">
            Калорийность (на 100г):
          </span>
          50 ккал;
        </p>
        <p class="product__char-item">
          <span class="product__char-title">
            Условия хранения:
          </span>
          температура от +3 до +8;
        </p>
        <p class="product__char-item">
          <span class="product__char-title">
            Другие названия:
          </span>
          Драконов фрукт, Глаз дракона;
        </p>
        <p class="product__char-item">
          <span class="product__char-title">
            Страна происхождения:
          </span>
          Вьетнам;
        </p>
        <p class="product__char-item">
          <span class="product__char-title">
            Срок хранения:
          </span>
          до 5 дней.
        </p>
      </div>

      <div class="product__reviews">

        <h3 class="product__reviews-title">Мнения наших клиентов</h3>

        <div class="product__reviews-content">

          <div class="user">
            <div class="user__info">

              <div class="user__info-main">
                <img class="user__avatar" src="images/users/1.jpg" alt="Аватар Андрея">
                <h4 class="user__name">Андрей
                  <time class="user__date">
                    10.06.2021
                  </time>
                </h4>

              </div>

              <div class="user__rating">
                <span class="user__rating-star" data-rateyo-rating="4.5"></span>
              </div>

            </div>

            <p class="user__review">
              Яркий цвет, нежный вкус. Очень свежий и приятный, буду пробовать еще!))
            </p>
          </div>

          <div class="user">
            <div class="user__info">

              <div class="user__info-main">
                <img class="user__avatar" src="images/users/1.jpg" alt="Аватар Екатерины Белой">
                <h4 class="user__name">Екатерина Белая

                  <time class="user__date">
                    7.06.2021
                  </time>
                </h4>

              </div>

              <div class="user__rating">
                <span class="user__rating-star" data-rateyo-rating="4.5"></span>
              </div>

            </div>

            <p class="user__review">
              Цвет, конечно, очень насыщенный! Ожидаешь, что и вкус будет такой же яркий (просто взрыв), но нет. Вкус
              "сдержанно-сладкий" и очень-очень свежий! Рад, что есть такая возможность - пробовать экзотические фрукты.
            </p>
          </div>


        </div>

        <h3 class="product__reviews-title">Оставить отзыв</h3>

        <form class="product__form" action="#">
          <div class="product__form-inner">
            <label class="product__form-caption product__form-caption--review">
              Ваш отзыв *
              <textarea class="product__form-input product__form-input--review" name="review"
                placeholder="Введите текст отзыва" required></textarea>
            </label>

            <div class="product__form-box">
              <label class="product__form-caption">
                Имя
                <input class="product__form-input" type="text" name="name" placeholder="Введите ваше имя" required>
              </label>

              <label class="product__form-caption">
                Email *
                <input class="product__form-input" type="email" name="email" placeholder="youremail@mail.com" required>
              </label>

            </div>

          </div>

          <label class="product__form-caption product__form-caption--checkbox">
            <input class="product__checkbox" type="checkbox">
            Сохранить моё имя, email и адрес сайта в этом браузере для последующих моих
            комментариев.
          </label>



          <button class="product__form-btn" type="submit">Оставить отзыв</button>
        </form>

      </div>


    </div>

  </div>

</section>